$breakpoint: 1024px;

ul {
  padding: 0;
  margin: 0;

  list-style-type: none;
}

a,
a:link
a:visited {
  color: #666;

  text-decoration: none;

  border-bottom: 1px dotted #666;
}

a:hover,
a:focus {
  color: #284600;

  background: #bed47a;

  border-bottom: 1px dotted #9fbb58;
}

h3 {

  padding-bottom: 5px;
  margin-bottom: 10px;

  color: #1e1e1e;

  border-bottom: 5px solid #e0e0e0;
}
