@import '../shared-styles/shared';

// Overrides the breakpoint to give a nicer responsivenes here.
$breakpoint: 750px;

:host {
  display: block;

  margin-bottom: 30px;
}

:host .header {
  margin-bottom: 20px;
}

:host .role {
  color: #ea561a;
}

:host .row {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;

  @media (min-width: $breakpoint) {
    flex-direction: row;
  }

}

:host .row > * {
  width: 100%;

  @media (min-width: $breakpoint) {

    width: 68%;

    &:first-child {
      width: 28%;
    }
  };
}


:host([fullbleed]) .row {

  flex-direction: column;
}

:host([fullbleed]) .row > * {

  @media (min-width: $breakpoint) {
    width: 100%;

    &:first-child {
      width: 100%;
    }
  }
}
