:host {
  display: block;

  width: 95%;
  max-width: 1024px;

  margin: 50px auto;

}

:host .row {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 750px) {
    flex-direction: row-reverse;
  }

}

:host .row > * {
  width: 100%;

  @media (min-width: 750px) {

    width: 28%;

    &:first-child {
      width: 68%
    }
  };
}

:host .only-mobile {
  display: none;

  @media (min-width: 750px) {
    display: block;
  }
}

:host .only-desktop {
  display: block;

  @media (min-width: 750px) {
    display: none;
  }
}
