@import '../shared-styles/shared';

:host {
  display: block;

  width: 95%;
  max-width: 1024px;

  margin: 50px auto;

}

:host .row {
  display: flex;

  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;

  margin-bottom: 20px;

  @media (min-width: $breakpoint) {
    flex-direction: row-reverse;
  }

}

:host .row > * {
  width: 100%;

  @media (min-width: $breakpoint) {

    width: 18%;

    &:first-child {
      width: 78%;
    }
  };
}

:host .only-mobile {
  display: none;

  @media (min-width: $breakpoint) {
    display: block;
  }
}

:host .only-desktop {
  display: block;

  @media (min-width: $breakpoint) {
    display: none;
  }
}
