@import '../shared-styles/shared';

:host {
  display: block;

  margin-bottom: 20px;
}

:host h1,
:host h2 {
  margin: 0;
}

:host h1 {
  line-height: 32px;

  text-transform: uppercase;
}

:host h2 {
  color: #ccc;
}
